.App {
  width: 100vh;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
/* ----------sidebar-------------*/
.card.row.w-25.bg-color{
  background-color: #312E81;
}
.dashboard{
  position: relative;
  top: 40;
}
.settings{
  position: absolute;
  bottom: 0;
}
span.text-white {
  margin-left: 25px;
}
.a.list-group-item.py-2:hover {
  height: 20px;
  background-color: red;
}
.mousehover:hover{
  background-color: darkgray;
  border-radius: 7px;
}

/*----------------home---------------*/
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
input.form-control {
  border-radius: 20px;
}
.border-radious {
  border: solid 3px #312E81;
  border-radius: 10px;
  padding: 31px;
}
.fa-bell{
  height: 20px;
  width: 20px;
  clip-path: circle(50);
  background-color: #312E81;
}
i.fa.fa-bell {
  padding: 8px 21px 23px 8px;
  clip-path: circle;
  clip-path: circle(50%);
}

.list-appointement {
  top: 51px;
  left: 971px;
  padding: 0px 20px 0px 20px;
  border-radius: 38px;
  background-color: #312E81;
  color: white;
}

.date_time {
  background: #CBE3FF;
  width: 180px;
  height: 30px;
  text-align: center;
}
.material-symbols-outlined{
  background: #312E81;
  border-radius: 4px;
  color: white;
}
.card-color{
  background: #CBE3FF;
}
.man-img{
  border-radius: 8px;
}
.media.align-items-stretch {
  display: flex;
}
.image-side{
  border-radius: 8px;
}
.media-body {
  margin-left: 10px;
}
.list-color{
  background-color: lightgrey;
}
.logo-brand-name{
  font-family: Helvetica Rounded;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;  
}
.card-body.cleartfix {
  background: #CBE3FF;
  ;
}